.container.club-page {
  margin-top: 2em;
}

.club-avatar {
  border-radius: 20px;
}

.club__actions {
  display: flex;
  flex-direction: column;
  margin: 1em 0;

  button {
    margin: 0.3em 0;
  }
}

.list__title {
  text-align: start;
  font-weight: 600;
}

.books-read {
  text-align: end;
  font-style: italic;
}

.main-content {
  .book__delete {
    display: none;
  }

  .subjects-container {
    display: flex;
    flex-direction: row;
    text-align: start;
    margin: 1.2em 0;
    justify-content: flex-end;

    .book__subject-badge {
      margin-right: 5px;
      text-transform: capitalize;
    }
  }

  .book__details.clubs {
    width: 100%;
    text-align: end;

    h1.page-title {
      margin: 0;
      text-align: end;
    }

    h3.book__details-author {
      text-align: end;
    }
  }

  .details-container {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #fff0f5;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 20px;
    transition: all 450ms;
    &:hover {
      background-color: #f0dee4;
      transform: scale(1.02);
    }

    .book__cover-img {
      border-radius: 20px;
    }

    .book__description {
      text-align: justify;
      padding: 0 2em;
      font-weight: 600;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;

      .book__published {
        font-weight: 400;
        font-style: italic;
      }
    }
  }
}

.club__details {
  display: flex;
  flex-direction: column;

  .page-sub-title {
    margin: 0;
    text-align: start;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
    font-family: "Unna", serif;
  }

  .page-club-id {
    margin: 0;
    text-align: start;
    font-size: 1em;
    font-style: italic;
    font-weight: 200;
    font-family: "Unna", serif;
  }
}

.clubs__post-feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .form__club-post {
    // background-color: #fff0f5;
    display: flex;
    flex-direction: column;
    width: 80%;

    .form__club-post-title {
      background-color: #fff0f5;
      border-radius: 10px;
      border: none;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: 2px solid #fed5e3;
      &:focus {
        transition: all 450ms;
        background-color: #fff;
        border-bottom: 2px solid #ff87ac;
      }
    }

    .form__club-post-body {
      background-color: #fff0f5;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
      border-bottom: 2px solid #fed5e3;
      outline: none;
      resize: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      &:focus {
        transition: all 450ms;
        background-color: #fff;
        border-bottom: 2px solid #ff87ac;
      }
    }
  }
}
