.book__cover-img {
  height: 20em;
  width: 15;
}

.details-container {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: start;

  // .details-cover {
  // }

  // .book-details {
  // }
}
