.book__cover-img {
  height: 20em;
  width: 15;
}

.details-container {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: start;

  .book__cover-img {
    border-radius: 20px;
  }

  .book__description {
    text-align: justify;
    padding: 0 2em;
    font-weight: 600;

    .book__published {
      font-weight: 400;
      font-style: italic;
    }
  }
}

.subjects-container {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin-top: 1.5em;

  .book__subject-badge {
    margin-right: 5px;
    text-transform: capitalize;
  }
}
