a.active.navbar-brand {
  font-weight: 700;
  font-family: "Unna", serif;
  font-size: 1.8em;
  transition: transform 450ms;
  &:hover {
    transform: scale(1.08);
  }
}

.main__navbar {
  background-color: #fff0f5;
}

.navBarLink {
  margin-right: 5px;
}

.nav-link-items {
  align-items: center;
}

.nav__search {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  &:hover {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}

.nav__logout {
  margin-left: 20px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  &:hover {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}
