.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .book-card {
    width: 10em;
    margin: 1em;
  }
  .book-cover {
    height: 15em;
  }
}

//search bar

.search-shelf-bar {
  width: 30em !important;
}

//awards
.award-card {
  text-align: center;
  width: 10em;
}
