//search bar
.tab-content {
  margin-top: 1em;
}

.search-shelf-bar {
  width: 100%;
}

//awards
.award-card {
  text-align: start;
  width: 100%;
}

.nav-tabs {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
  margin-top: 0.5em;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .book-card {
    display: flex;
    border-radius: 10px;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
    transition: all 450ms;
    &:hover {
      transform: scale(1.08);
    }
  }

  img {
    width: 100%;
    height: 250px;
  }

  .card-body {
    padding: 0;
  }

  .carousel__subject-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }

  .card__text {
    font-family: "Source Sans Pro", sans-serif;
    color: #2f2e41;
  }

  .card__title {
    margin-top: 10px;
  }
}
