.container {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .books-main {
    flex-grow: 6;
    margin-left: 3em;
    //book item cards
    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .book-card {
        width: 10em;
        margin: 1em;
      }
      .book-cover {
        height: 15em;
      }
    }

    //search bar
    .search-books-bar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .search-bar {
        width: 30em !important;
      }
    }
  }

  .sidebar {
    flex-grow: 1;
    margin-right: 2em;
    width: 10em;
    display: flex;
    flex-direction: column;
    //awards
    .award-card {
      width: fit-content !important;
      .award-image {
        width: 30%;
      }
    }
  }
}
